<!-- {{define "content"}}
<h1>GENERATED ASCII ART</h1>

<pre>{{.Result}}</pre>

<form action="/ascii-art" method="post">
    <input type="hidden" name="text" value="{{.Text}}">

    <button type="submit" name="banner" value="standard">
        Standard
    </button>

    <button type="submit" name="banner" value="shadow">
        Shadow
    </button>

    <button type="submit" name="banner" value="thinkertoy">
        Thinkertoy
    </button>
</form>

<br>

<a href="/">Back To Home</a>
{{end}} -->