<!DOCTYPE HTML>
<html>
    <head>
    <title>ASCII-ART-WEB</title>
    </head>
        <body>
            <h1>ASCII ART GENERATOR</h1>

            <form action="/ascii-art" method="POST">
                <input type="text" name="text" placeholder="Enter Text">
                <br>

                <input type="radio" name="banner" value="standard">
                <label>standard</label>
                <br>

                <input type="radio" name="banner" value="shadow">
                <label>shadow</label>
                <br>

                <input type="radio" name="banner" value="thinkertoy">
                <label>thinkertoy</label>
                <br>

                <input type="submit" value="submit"> 
            </form>
        </body>
    </title>
</html>
