{{define "content"}}
<h1>ASCII ART GENERATOR</h1>
<form action="/ascii-art" method="post">
    <textarea id="text" name="text" placeholder="Enter text"></textarea>
<br><br>
    <label for="banner">Choose Banner Format:</label>

    <select name="banner" id="banner">
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
        <option value="thinkertoy">thinkertoy</option>
    </select> 
<br><br>
    <button type="submit">submit</button>
</form>
{{end}}